<div class="container ml-0">
  <div class="row">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="#list-item-1">Angular</a>
        <a class="list-group-item list-group-item-action" href="#list-item-2">JavaScript</a>
        <a class="list-group-item list-group-item-action" href="#list-item-3">GitHub</a>
        <a class="list-group-item list-group-item-action" href="#list-item-4">Jasmine</a>
      </div>
    </div>
    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
      <div scrollSpy data-target="#list-example" data-offset="0" style="height:500px;overflow-y: scroll;">
      <div id="list-example">
        <div class="container">
          <ul class="nav nav-tabs" role="tablist"> 
            <div class="row">
              <div class="col-xl-12">
                <h4 id="list-item-1">Angular</h4>
              <img src="https://pluralsight2.imgix.net/paths/images/angular-14a0f6532f.png" width="500px" height="500px">
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <h4 id="list-item-2">JavaScript</h4>
              <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" width="500px"
              height="500px">
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <h4 id="list-item-3">GitHub</h4>
              <img src="https://github.githubassets.com/images/modules/open_graph/github-mark.png" width="500px" height="300px">
              </div>
            </div>  
            <div class="row">
              <div class="col-xl-12">
                <h4 id="list-item-4">Jasmine</h4>
                <img src="https://remidoolaeghe.github.io/img/skills/JasmineJS.svg" width="500px">
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>